h1 { font-family :"Arial"; font-style: normal; font-weight: 500 }
body {font-family: 'Ubuntu Condensed'; text-align: center }
body {
    background: #bcdefc;
}
progress {
 background-color: #822d9b;
 border: 0;
 height: 10px;
    width: 100mm;
 border-radius:18px;
}

