h1 { font-family :"Arial"; font-style: normal; font-weight: 500 }
body {font-family: 'Ubuntu Condensed'; text-align: center }
body {
    background: #bcdefc;
}
progress {
 background-color: #822d9b;
 border: 0;
 height: 10px;
    width: 100mm;
 border-radius:18px;
    }

.back{
   height: 20px;
    width: 60%;
   background-color:lightgrey;
}

.front {
    height: 20px;
    width: 50%;
    background-color: darkgreen;
    border-right: solid black 3px;
   
}

.percents {
    text-align: left;
    margin-left: calc(30% - 7px)
}