h1 { font-family: "Arial" ; font-style: normal ; font-weight: 500 }
body {font-family: 'Ubuntu Condensed'; text-align: center }
 body {
    background: #bcdefc; /* Цвет фона */
    color: rgb(0, 0, 0); /* Цвет текста */
   }